.input {
    width: 200px;
    margin-top: 8px;
    padding: 4px 0px;
    padding-left: 4px;

    font-size: 14px;

    color: lightslategray;


    border: 1px solid lightgray;
    border-radius: 5px;
}